<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Logos proyecto/perfilAP1.jpg" 
        class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Maurin, Lucas Maximiliano</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi:</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequuntur deleniti doloremque dolorum consequatur sunt id cum aliquam debitis cupiditate. Iure ratione commodi amet nihil debitis voluptas? Tempore, debitis consectetur.</p>
        </span>
    </div>

</div>
